.color-box {
  background-color: indigo;
  border-radius: 3rem;
  cursor: pointer;
  height: $box-height;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.25s ease;
  width: $box-width;

  &:hover {
    position: relative;
    top: -1rem;
  }

  .color-box-variation {
    cursor: pointer;
    height: $box-height / 3;
    width: $box-width / 3;
    z-index: 1;
    // mix-blend-mode: overlay;

    &:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
  }
}
