@mixin all-headers {
  h1, h2, h3, h4, h5, h6 {
    @content
  }
}

.text-center {
  text-align: center !important;
}

// Emulate Bootstrap helper classes
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-0 { margin-bottom: 0; }


// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

@mixin bg-tint($color, $percentage) {
  background-color: tint($color, $percentage);
}

@mixin bg-shade($color, $percentage) {
  background-color: shade($color, $percentage);
}
